/* Bootstrap xs. Ниже 576px. Ширина container гибкая. */
@media screen and (max-width: 575px) {
	
    .header-top__info {
        padding-left: 15px;
    }

    .footer-main {
    
        &__wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            padding-top: 30px;
            padding-bottom: 30px;
        }
    
        &__info {
            flex-basis: 100%;
            text-align: center;
            font-size: 18px;
        }
    
        &__hours {
            flex-basis: 100%;
            text-align: center;
            margin-top: 30px;
        }
    }
}