.how-order {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(146deg, rgba(0, 24, 55, 0.9) 35%, rgba(0, 24, 55, 0.1) 100%), url(assets/img/how-work-bg.jpg);
    
    &__wrapper {
        padding-top: 75px;
        padding-bottom: 0;
    }

    &__header {
        
    }

    &__stages {
        margin-top: 30px;
    }

    &__stage {
        background-color: rgba(28,25,89,0.8);
        margin-top: 70px;
        padding: 60px 15px 30px 15px;
        border-radius: 5px;
        position: relative;

        img {
            display: inline-block;
            width: 80px;
            height: auto;
            position: absolute;
            top: -40px;
            left: 50%;
            margin-left: -40px;
        }

        h4 {
            color: #FFFFFF;
            font-size: 16px;
            font-weight: 600;
        }

        p {
            color: #FFFFFF;
            font-size: 14px;
        }

        hr {
            border: 1px solid transparent;
            position: relative;
            margin: 12px 0 20px 0;
        }

        hr::before {
            content: "";
            width: 30px;
            height: 3px;
            background: #FBA311;
            position: absolute;
            left: 1px;
            top: 1px;
        }
    }

    &__order-form {
        position: relative;
        bottom: -70px;
    }
}