.photo-works {
    background-color: $gray-color;

    &__wrapper {
        padding-top: 75px;
        padding-bottom: 75px;
    }

    &__header {
        
    }

    &__list {
        position: relative;
        margin-top: 35px;
        
        img {
            width: 100%;
            height: auto;
        }
    }
}