@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Raleway:wght@400;500;600;700;800&display=swap");
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #393938;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

h1 {
  font-size: 52px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 13px;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
}

hr {
  border-top: 1px solid #EEEEEE;
  margin-top: 2em;
  margin-bottom: 2em;
}

.heading_center {
  text-align: center;
}
.heading__title {
  font-size: 32px;
  margin-top: 20px;
}
.heading__title_white {
  color: #FFFFFF;
}
.heading__title_big {
  font-size: 46px;
  margin-top: 35px;
}
.heading__subtitle {
  display: inline-block;
  text-align: left;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  color: #393938;
  padding-left: 70px;
  position: relative;
}
.heading__subtitle::before {
  content: "";
  height: 1px;
  width: 50px;
  top: 7px;
  left: 1px;
  position: absolute;
  background: #393938;
  opacity: 0.6;
}
.heading__subtitle_center {
  padding-right: 70px;
}
.heading__subtitle_center::after {
  content: "";
  height: 1px;
  width: 50px;
  top: 7px;
  right: 1px;
  position: absolute;
  background: #393938;
  opacity: 0.6;
}
.heading__subtitle_white {
  color: #FFFFFF;
}
.heading__subtitle_white::before {
  background: #FFFFFF;
}
.heading__subtitle_white::after {
  background: #FFFFFF;
}
.heading__order {
  display: block;
  width: 50%;
  margin-top: 30px;
  padding: 7px 0;
  text-align: center;
  color: #FFFFFF;
  font-weight: 600;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  background-color: #7FC200;
  border: 1px solid #FFFFFF;
  border-radius: 7px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}
.heading__order:hover {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  box-shadow: none;
}

header {
  background-color: #FFFFFF;
}

main {
  min-height: 500px;
  background-color: #E3E3E3;
}

footer {
  background-color: #1C1959;
}

.footer-main__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.footer-main__info {
  flex-basis: 50%;
  color: #FFFFFF;
  text-align: left;
  font-size: 18px;
}
.footer-main__info a {
  color: #FFFFFF;
}
.footer-main__info a:hover {
  text-decoration: none;
}
.footer-main__info i {
  margin-right: 10px;
}
.footer-main__hours {
  flex-basis: 50%;
  color: #FFFFFF;
  text-align: right;
}
.footer-main__hours p {
  margin-bottom: 0;
}
.footer-main__hours p span {
  font-size: 18px;
}

.footer-bottom {
  padding: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.footer-bottom p {
  font-size: 14px;
  text-align: center;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
}

.header-top {
  display: flex;
  background-color: #F7F7F7;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 1px;
  padding: 10px 0px;
  font-size: 0.9em;
}
.header-top ul {
  list-style: none;
  display: flex;
  margin: 0;
}
.header-top ul li {
  margin-right: 15px;
}
.header-top ul li a {
  color: #393938;
}
.header-top ul li i {
  color: #00ACE4;
  margin-right: 5px;
}
.header-top ul li:first-child a {
  color: #00ACE4;
}
.header-top ul li:first-child i {
  vertical-align: middle;
}

.header-main {
  padding: 20px 0;
}
.header-main__logo img {
  width: 100%;
  height: auto;
}
.header-main__navigation {
  padding-left: 40px;
}
.header-main__phone a {
  color: #7FC200;
  font-size: 19px;
  font-weight: 600;
}
.header-main__phone a:hover {
  text-decoration: none;
}
.header-main__cta a {
  display: block;
  background-color: #00ACE4;
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: 600;
  padding: 7px 0;
  border: 1px solid #F7F7F7;
  border-radius: 9px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}
.header-main__cta a:hover {
  text-decoration: none;
  box-shadow: none;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.menu-btn {
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
  float: right;
}

.menu-btn-wrapper {
  display: block;
  position: relative;
  border: 1px solid #00ACE4;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 7px;
}

.menu-btn-wrapper span, .menu-btn-wrapper span::before, .menu-btn-wrapper span::after {
  position: absolute;
  top: 50%;
  margin-top: -1px;
  left: 50%;
  margin-left: -10px;
  width: 20px;
  height: 2px;
  background-color: #00ACE4;
}

.menu-btn-wrapper span::before, .menu-btn-wrapper span::after {
  content: " ";
  display: block;
  transition: 0.2s;
}

.menu-btn-wrapper span::before {
  transform: translateY(-5px);
}

.menu-btn-wrapper span::after {
  transform: translateY(5px);
}

.banner {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(146deg, rgba(0, 24, 55, 0.9) 35%, rgba(0, 24, 55, 0.1) 100%), url(assets/img/banner-bg.jpg);
}
.banner__wrapper {
  padding-top: 75px;
  padding-bottom: 75px;
}
.services {
  background-color: #F7F7F7;
}
.services__wrapper {
  padding-top: 75px;
  padding-bottom: 75px;
}
.services__list {
  margin-top: 10px;
}
.services__item {
  background-color: #FFFFFF;
  border-radius: 12px;
  padding-bottom: 20px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  opacity: 0.95;
}
.services__item:hover {
  opacity: 1;
  cursor: pointer;
}
.services__item hr {
  margin-top: 0;
  margin-bottom: 0;
}
.services__item-img {
  margin-top: 40px;
}
.services__item-img img {
  border-radius: 12px 12px 0 0;
  width: 100%;
  height: auto;
}
.services__item-title {
  padding: 15px 20px 10px 20px;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}
.services__item-price {
  padding: 15px 20px 0 20px;
  text-align: center;
}
.services__item-time {
  padding: 10px 20px 0 20px;
  text-align: center;
}
.services__item-included {
  margin-top: 20px;
}
.services__item-included button {
  display: block;
  width: 85%;
  margin: 0 auto;
  background-color: #7FC200;
  border: 1px solid #FFFFFF;
  border-radius: 7px;
  padding: 7px 0;
  text-align: center;
  color: #FFFFFF;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}
.services__item-included button:hover {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
}
.services__item-order {
  margin-top: 15px;
}
.services__item-order button {
  display: block;
  width: 85%;
  margin: 0 auto;
  background-color: #00ACE4;
  border: 1px solid #FFFFFF;
  border-radius: 7px;
  padding: 7px 0;
  text-align: center;
  color: #FFFFFF;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}
.services__item-order button:hover {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
}

.about {
  background-color: #FFFFFF;
}
.about__wrapper {
  padding-top: 75px;
  padding-bottom: 75px;
}
.about__img {
  padding-right: 65px;
  padding-bottom: 35px;
  background-image: url(assets/img/dots-2.svg);
  background-repeat: no-repeat;
  background-position: right 30px bottom;
}
.about__img img {
  width: 100%;
  height: auto;
}
.photo-works {
  background-color: #F7F7F7;
}
.photo-works__wrapper {
  padding-top: 75px;
  padding-bottom: 75px;
}
.photo-works__list {
  position: relative;
  margin-top: 35px;
}
.photo-works__list img {
  width: 100%;
  height: auto;
}

.how-order {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(146deg, rgba(0, 24, 55, 0.9) 35%, rgba(0, 24, 55, 0.1) 100%), url(assets/img/how-work-bg.jpg);
}
.how-order__wrapper {
  padding-top: 75px;
  padding-bottom: 0;
}
.how-order__stages {
  margin-top: 30px;
}
.how-order__stage {
  background-color: rgba(28, 25, 89, 0.8);
  margin-top: 70px;
  padding: 60px 15px 30px 15px;
  border-radius: 5px;
  position: relative;
}
.how-order__stage img {
  display: inline-block;
  width: 80px;
  height: auto;
  position: absolute;
  top: -40px;
  left: 50%;
  margin-left: -40px;
}
.how-order__stage h4 {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 600;
}
.how-order__stage p {
  color: #FFFFFF;
  font-size: 14px;
}
.how-order__stage hr {
  border: 1px solid transparent;
  position: relative;
  margin: 12px 0 20px 0;
}
.how-order__stage hr::before {
  content: "";
  width: 30px;
  height: 3px;
  background: #FBA311;
  position: absolute;
  left: 1px;
  top: 1px;
}
.how-order__order-form {
  position: relative;
  bottom: -70px;
}

.recommendation {
  background-color: #F7F7F7;
}
.recommendation__wrapper {
  padding-top: 120px;
  padding-bottom: 75px;
}
.recommendation__reviews {
  padding-top: 50px;
  padding-bottom: 90px;
}
.faq {
  background-color: #FFFFFF;
}
.faq__wrapper {
  padding-top: 75px;
  padding-bottom: 75px;
}
.faq__list {
  margin-top: 30px;
  padding: 0 15px;
}
.faq__item {
  position: relative;
  margin-top: 12px;
  padding: 10px 50px 10px 20px;
  background-color: #FFFFFF;
  border-radius: 7px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.faq__question::after {
  position: absolute;
  top: 12px;
  right: 10px;
  content: "";
  background-image: url(/assets/img/arrow-f.svg);
  width: 20px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.faq__question p {
  margin: 0;
  padding: 0;
  font-weight: 600;
}
.faq__question_active::after {
  background-image: url(/assets/img/arrow-d.svg);
}
.faq__answer {
  display: none;
}
.faq__answer p {
  margin: 0;
  padding: 10px 10px;
  font-size: 14px;
}

.order {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(146deg, rgba(0, 24, 55, 0.7) 35%, rgba(0, 24, 55, 0.2) 100%), url(assets/img/order-bg.jpg);
}
.order__wrapper {
  padding-top: 55px;
  padding-bottom: 75px;
}
.order__form {
  display: flex;
  justify-content: start;
  margin-top: 40px;
}
.order__input {
  flex-basis: 30%;
  margin-right: 2%;
  background-color: #f7f7f7;
  border: 1px solid #eeeeee;
  border-radius: 5px;
  height: 48px;
  line-height: 48px;
  font-size: 14px;
  padding: 10px;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
}
.order__input:focus {
  outline: none;
  border: 1px solid #00ACE4;
}
.order__submit {
  flex-basis: 30%;
  padding: 12px 20px;
  background: #00ACE4;
  border-width: 0;
  border-color: #00ACE4;
  border-style: solid;
  border-radius: 4px;
  color: #FFFFFF;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
}

.navigation {
  display: flex;
  list-style: none;
}
.navigation li {
  margin-right: 20px;
}
.navigation li a {
  color: #393938;
  font-size: 18px;
  font-weight: 600;
}
.navigation li a:hover {
  color: #7FC200;
  text-decoration: none;
}

.sidenav {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  overflow: hidden;
  transition: all 0.5s;
}
.sidenav_active {
  width: 300px;
  box-shadow: -1px 0 2px rgba(0, 0, 0, 0.3);
}
.sidenav__wrapper {
  width: 300px;
  height: 100%;
  position: fixed;
  padding-top: 70px;
  background-color: #00affe;
  overflow: auto;
  z-index: 1;
}
.sidenav__close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 35px;
  height: 35px;
  text-align: center;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 600;
  border-radius: 7px;
  background-color: #7FC200;
  border: none;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.1);
}
.sidenav__close:hover {
  box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
}
.sidenav__close:focus {
  outline: none;
}
.sidenav__menu {
  list-style: none;
  margin-top: 30px;
}
.sidenav__menu li {
  border-bottom: 2px solid rgba(155, 223, 255, 0.2);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}
.sidenav__menu li:hover {
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.1);
}
.sidenav__menu li:first-child {
  border-top: 2px solid rgba(155, 223, 255, 0.2);
}
.sidenav__menu li a {
  display: block;
  padding: 10px 30px;
  color: #FFFFFF;
  font-weight: 600;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.sidenav__menu li a:hover {
  text-decoration: none;
}
.sidenav__info {
  margin-top: 40px;
  padding: 0 30px;
  list-style: none;
  color: #FFFFFF;
}
.sidenav__info li {
  margin-bottom: 15px;
}
.sidenav__info li a, .sidenav__info li i {
  color: #FFFFFF;
}
.sidenav__info li i {
  margin-right: 10px;
}

.order-form__wrapper {
  width: 100%;
  padding: 35px 40px;
  background-color: #FFFFFF;
  border: 1px solid #F7F7F7;
  border-radius: 9px;
}
.order-form__heading {
  text-align: center;
  margin-bottom: 30px;
  font-weight: 600;
}
.order-form__label {
  margin-right: 15px;
  margin-left: 0;
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
}
.order-form__input {
  display: block;
  width: 100%;
  background-color: #f7f7f7;
  border: 1px solid #eeeeee;
  border-radius: 5px;
  height: 48px;
  line-height: 48px;
  margin-top: 5px;
  margin-bottom: 25px;
  font-size: 14px;
  padding: 10px;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
}
.order-form__input:focus {
  outline: none;
  border: 1px solid #00ACE4;
}
.order-form__submit {
  display: block;
  width: 100%;
  padding: 12px 20px;
  background: #00ACE4;
  border-width: 0;
  border-color: #00ACE4;
  border-style: solid;
  border-radius: 4px;
  color: #FFFFFF;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
}

.advantages__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.advantages__item {
  flex: 50%;
  margin-top: 30px;
}
.advantages__item-img {
  display: block;
  width: 25%;
  float: left;
}
.advantages__item-text {
  display: block;
  width: 75%;
  float: right;
  padding-right: 12px;
}
.advantages__item-text h5 {
  font-weight: 600;
}
.advantages__item-text p {
  font-size: 13px;
}

.limited-offer {
  display: flex;
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 9px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}
.limited-offer__img {
  flex-basis: 40%;
  align-self: stretch;
  min-height: 250px;
  background-image: url(assets/img/limited-offer_bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 9px 0 0 9px;
}
.limited-offer__content {
  flex-basis: 60%;
  padding: 50px;
}
.limited-offer__content-title {
  font-size: 30px;
  margin-top: 0;
}
.limited-offer__content-hr {
  margin-top: 1em;
}
.limited-offer__content-span {
  color: #7FC200;
  font-weight: 600;
}
.limited-offer__cta button {
  display: block;
  width: 50%;
  margin-top: 30px;
  padding: 7px 0;
  text-align: center;
  color: #FFFFFF;
  font-weight: 600;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  background-color: #7FC200;
  border: 1px solid #FFFFFF;
  border-radius: 7px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}
.limited-offer__cta button:hover {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  box-shadow: none;
}

.reviews {
  display: flex;
  justify-content: space-evenly;
  position: relative;
}
.reviews__item {
  background-color: #FFFFFF;
  border-radius: 12px;
  padding: 30px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}
.reviews__author {
  display: flex;
  justify-content: center;
}
.reviews__author-img {
  flex-basis: 90px;
  padding-left: 10px;
  padding-right: 10px;
}
.reviews__author-img img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.reviews__author-name {
  flex-basis: auto;
  padding: 5px 0 0 15px;
}
.reviews__author-name h4 {
  font-weight: 600;
  margin-bottom: 5px;
}
.reviews__text {
  margin-top: 30px;
  padding: 0 20px;
  font-style: italic;
}
.reviews .slick-slide {
  margin: 5px 10px;
}
.reviews .slick-dots {
  top: auto;
  bottom: -30px;
  left: 50%;
  transform: translate(-50%, 0);
}

.partners img {
  width: 100%;
  height: auto;
}
.partners .slick-slide {
  margin: 0 10px;
}

/* ! Default Slick Style */
/* Слайдер */
/* Слайдер запущен */
/* Слайдер с точками */
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: flex;
}

/* Слайд */
.slick-slide {
  outline: none;
}

/* Слайд активный (показывается) */
/* Слайд основной */
/* Слайд по центру */
/* Клонированный слайд */
/* Стрелка */
.slick-arrow {
  position: absolute;
  font-size: 0;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}

/* Стрелка влево */
.slick-arrow.slick-prev {
  background-image: url(/assets/img/arrow-back.svg);
  bottom: 20px;
  right: 75px;
}

/* Стрелка вправо */
.slick-arrow.slick-next {
  background-image: url(/assets/img/arrow-forward.svg);
  bottom: 20px;
  right: 20px;
}

/* Стрелка не активная */
.slick-arrow.slick-disabled {
  opacity: 0.7;
}

/* Точки (булиты) */
.slick-dots {
  position: absolute;
  top: 10px;
  left: 30px;
  list-style: none;
  display: flex;
}

/* Активная точка */
/* Элемент точки */
.slick-dots li button {
  font-size: 0;
  width: 12px;
  height: 12px;
  padding: 0;
  margin: 0 7px 0 0;
  border-radius: 50%;
  border: none;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
  opacity: 0.8;
  outline: none;
}

.slick-dots li.slick-active button {
  background-color: #c05151;
  opacity: 1;
}

/* ! Custom Slick Style */
/* Bootstrap xs. Ниже 576px. Ширина container гибкая. */
@media screen and (max-width: 575px) {
  .header-top__info {
    padding-left: 15px;
  }

  .footer-main__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .footer-main__info {
    flex-basis: 100%;
    text-align: center;
    font-size: 18px;
  }
  .footer-main__hours {
    flex-basis: 100%;
    text-align: center;
    margin-top: 30px;
  }
}
/* Bootstrap sm. От 576px до 767px. Ширина container 540px. */
@media screen and (max-width: 767px) {
  .header-main__phone a {
    padding: 12px 0 !important;
  }
  .header-main__cta {
    margin-top: 10px !important;
  }
  .header-main__cta a {
    padding: 12px 0;
  }

  .advantages__item {
    flex: 100%;
    margin-top: 30px;
  }

  .limited-offer {
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 9px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  }
  .limited-offer__img {
    display: none;
  }
  .limited-offer__content {
    flex-basis: 100%;
    padding: 30px;
  }
  .limited-offer__content .heading__title {
    font-size: 25px !important;
    text-align: center !important;
  }
  .limited-offer__cta button {
    width: 100%;
  }

  .order__form {
    flex-wrap: wrap;
  }
  .order__input {
    flex-basis: 100%;
    margin-right: 0;
    margin-bottom: 25px;
  }
  .order__submit {
    flex-basis: 100%;
  }
}
/* Bootstrap md. От 768px до 991. Ширина container 720px. */
@media screen and (max-width: 991px) {
  .header-main__phone {
    margin-top: 20px;
  }
  .header-main__phone a {
    display: block;
    background-color: #7FC200;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 600;
    padding: 7px 0;
    border: 1px solid #F7F7F7;
    border-radius: 9px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  }
  .header-main__phone a:hover {
    text-decoration: none;
    box-shadow: none;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  }
  .header-main__cta {
    margin-top: 20px;
  }

  .heading__title {
    font-size: 32px;
    margin-top: 15px;
  }
  .heading__title_big {
    font-size: 36px;
    margin-top: 25px;
  }
  .heading__order {
    display: none;
  }

  .order-form {
    margin-top: 30px;
  }
}
/* Bootstrap lg. От 992px до 1199. Ширина container 960px. */
@media screen and (max-width: 1199px) {
  .header-main__phone a {
    font-size: 15px;
  }
}

/*# sourceMappingURL=style.css.map */
