$bg-color-1: #FFFFFF;
$bg-color-2: #E3E3E3;
$bg-color-3: #C7C7C7;
$bg-color-4: #ABABAB;
$bg-color-5: #8F8F8F;
$bg-color-6: #737373;
$bg-color-7: #575757;

$text-font-family: 'Open Sans', sans-serif;
$headline-font-family: 'Raleway', sans-serif;
$primary-color: #00ACE4;
$secondary-color: #7FC200;
$text-color: #393938;
$gray-color: #F7F7F7;